*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
#wrap{
    width: 100vw;
    height: 100vh;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}
#wrap ul{
    width: 80%;
    height: 80%;
    background: #000;

    display: flex;
    justify-content: space-between; 
    align-items: center;
}
#wrap li{
    width: 16%;
    height: 100%;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
    transition: width .5s linear, hegiht .5s linear .5s;
}
#wrap li .inner{
    width: 100%;
    height: 100%;
    position: relative;

    transition:  .5s linear;
}
#wrap .init .inner{
    transform: translateY(100%);
}
#wrap li:nth-child(1) .inner{
    transition-delay: .1s;
}
#wrap li:nth-child(2) .inner{
    transition-delay: .2s;
}
#wrap li:nth-child(3) .inner{
    transition-delay: .3s;
}
#wrap li:nth-child(4) .inner{
    transition-delay: .4s;
}
#wrap li:nth-child(5) .inner{
    transition-delay: .5s;
}
#wrap li:nth-child(6) .inner{
    transition-delay: .6s;
}
#wrap li .inner .bg{
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .5;
    transition: .2 linear;
}
#wrap  li:nth-child(1) .inner .bg{
    background-image: url(picture/2c212becedd770c679aeb707db03e501.jpeg);
}
#wrap  li:nth-child(2) .inner .bg{
    background-image: url(picture/602286824a48960d5a58acf4fae4d334.jpeg);
}
#wrap  li:nth-child(3) .inner .bg{
    background-image: url(picture/d4fce96c8179d4330a7c7ac5aeffdae3.jpeg);
}
#wrap  li:nth-child(4) .inner .bg{
    background-image: url(picture/ec3e326c939db6e9c94ce67dbcbd490c.jpeg);
}
#wrap  li:nth-child(5) .inner .bg{
    background-image: url(picture/eeba8d1e7b54466c1600101d4387eba7.jpeg);
}
#wrap  li:nth-child(6) .inner .bg{
    background-image: url(picture/wallhaven-zme16w_2560x1440.png);
}
#wrap li:hover .inner .bg{
    opacity: 1;
}

#wrap li h2{
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: opacity .2s linear 1s;
}
#wrap li:hover h2{
    font-size: 24px;
}
#activeWrap li:not(.active){
    width: 0;
    height: 0;
}
#activeWrap li.active{
    width: 100%;
}
#activeWrap li{
    transition: height .5s linear, width .5s linear .5s;
}
#activeWrap li h2{
    opacity: 0;
    transition: .2s linear;
}
#wrap li .direction{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    line-height: 30px;

    position: absolute;
    top: 50px;
    opacity: 0;
}
#wrap li .direction .header{
    color: #fff;
    font-size: 24px;
}
#wrap li .direction .close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
#wrap li .direction .close::before, #wrap li .direction .close::after{
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    background: #fff;
}
#wrap li .direction .close::before{
    transform: rotate(45deg);
}
#wrap li .direction .close::after{
    transform: rotate(-45deg);
}
#activeWrap li .direction{
    opacity: 1;
    transition: .5s linear 1s;
}
#activeWrap li .direction .close{
    transform: rotate(360deg);
    transition: .5s linear 1s;
}
#activeWrap li .direction .close{
    transform: rotate(360deg)
}
